body {
	font: 14px "Thasadith", Futura, sans-serif;
	margin: 20px;
}

button {
	font: 14px "Thasadith", Futura, sans-serif;
}

ol, ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 100px;
	font-weight: bold;
	line-height: 100px;
	height: 100px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 100px;
}

.row-0 .square {
	border-top:none;
}
.row-2 .square {
	border-bottom:none;
}

.square.col-0 {
	border-left:none;
}

.square.col-2 {
	border-right:none;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
	width:250px;
}

.game-turn {
	font-size: 3em;
}

.game-info button {
	background:none;
	border:none;
}

.game-info button:hover {
	font-weight: bold;
}

.selected,.selected button {
	font-weight: bold;
}

.winner {
	color:#69c300;
}